html, body {
	font-family: "Dongle", monospace;
    font-size: 25px;
	line-height: 1;
	height: 100%;
    margin: 0;
    padding: 0;
}
.multicolor {
    background-image: linear-gradient(to right, #a378f3, #af4254);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.button-colors{
    background-image: linear-gradient(to right, #a378f3, #af4254);
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-family: "Dongle", monospace;
	font-size: 20px;
	line-height: 1;
	color: #fff;
	transition: all 0.3s ease;
}
.button-colors:hover{
	transform: translateY(-5px);
	box-shadow: 0 4px 10px #ff5d5d;
}
.large{
	color: #9f76ff;
	font-size: 60px;
}
nav {
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px 0;
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #44444400;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    color: rgba(200, 200, 200, 0.8);
    background-color: #444;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    padding: 0 10px;
    margin: 0 auto;
}
.card {
    margin: 10px;
    width: 600px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(49, 49, 49, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        0 4px 30px rgba(0, 0, 0, 0.1),
        inset 0 0 60px rgba(27, 27, 27, 0.1);
    color: #ffffff;
    background-image:
        linear-gradient(135deg, rgba(58, 58, 58, 0.15), rgba(27, 27, 27, 0.15));
    transition: all 0.3s ease;
}
.card:hover {
    background-image:
        linear-gradient(135deg, rgba(37, 37, 37, 0.3), rgba(24, 24, 24, 0.3));
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
        0 8px 40px rgba(0, 0, 0, 0.15),
        inset 0 0 80px rgba(19, 19, 19, 0.15);
}
.layout{
	display: flex;
}
.l1{
	padding: 2px;
	text-align: center;
}
.l1 img{
	width: 128px;
}
.l2{
	padding: 5px;
}
.gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    z-index: -1;
}
.gradient-bg svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}
@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
}
@keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
}
.gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}
.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - (var(--circle-size) / 2));
    left: calc(50% - (var(--circle-size) / 2));
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
}
.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - (var(--circle-size) / 2));
    left: calc(50% - (var(--circle-size) / 2));
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
}
.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - (var(--circle-size) / 2) + 200px);
    left: calc(50% - (var(--circle-size) / 2) - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
}
.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - (var(--circle-size) / 2));
    left: calc(50% - (var(--circle-size) / 2));
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}
.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
}
.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
}
.text-container {
    position: relative;
    z-index: 100;
    width: 100vw;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: white;
    opacity: 0.8;
    user-select: none;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    padding: 2rem;
    box-sizing: border-box;
}
.cards4 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    max-width: 630px;
    margin: 0 auto;
}
.proj-card {
    flex: 0 0 calc(50% - 15px);
    box-sizing: border-box;
    background-color: #0000008c;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.proj-card:hover {
    animation: bounceScale 0.5s ease;
}
@keyframes bounceScale {
    0% { transform: scale(1); }
    40% { transform: scale(1.1); }
    60% { transform: scale(0.95); }
    80% { transform: scale(1.05); }
    100% { transform: scale(1); }
}
.proj-card .content{
    margin: 15px;
}
.proj-card img{
    width: 285px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: #a378f37a solid 4px;
}